:root{
    --azul:#081d53;
    --rosa:#f31668;
    --gris:#ffffff;
}

body{
    font-family:'Poppins',sans-serif;
    padding-top:80px;
    background:#fff;
    font-size:14px;
    color: #000;
}

h1,h2,h3,h4,h5{
    font-family:'Montserrat',sans-serif;
    font-weight:700;
}

.navbar-bp{
    background:var(--azul);
    box-shadow:0 3px 20px rgba(243,22,104,.08);
}

.navbar-brand img{
    height:55px;
}

.nav-link{
    color:#ffffff !important;
    position:relative;
    font-weight:700;
    transition:.3s;
}

.nav-link:hover {
    color:#f31668;
    font-weight:700;
}

.nav-link::after{
    content:"";
    position:absolute;
    left:50%;
    bottom:0;
    width:0;
    height:3px;
    background:#f31668;
    border-radius:10px;
    transform:translateX(-50%);
    transition:.3s ease;
}

.nav-link:hover::after{
    width:100%;
}

.nav-link:active{
    color:#ffffff !important;
}

.btn-tienda {
    background: #f31668;
    color:#ffffff;
    border-radius:12px;
    padding:.7rem 1.2rem;
    text-decoration:none;
    font-weight:600;
}

.btn-tienda:hover {
    background: #ffffff;
    color: #f31668;
    border-color: #f31668;
}

.hero img{
    width:100%;
    display:block;
}

.beneficios{
    position:relative;
    z-index:5;
}

.beneficio-card{
    background:white;
    border-radius:18px;
    padding:20px;
    display:flex;
    gap:15px;
    align-items:center;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:.3s;
    width:100%;
    height:100%;
}

.beneficio-card:hover{
    transform:translateY(-6px);
}

.beneficio-card i{
    font-size:2rem;
    color:var(--rosa);
}

.titulo-seccion{
    margin-bottom:30px;
}

.titulo-seccion span{
    color:var(--rosa);
}

.producto-card{
    background:white;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
    transition:.3s;
    height:100%;
}

.producto-card:hover{
    transform:scale(1.03);
    box-shadow:0 15px 30px rgba(0,0,0,.15);
}

.producto-card img{
    height:220px;
    width:100%;
    object-fit:contain;
    padding:15px;
}

.precio{
    color:var(--rosa);
    font-size:1.5rem;
    font-weight:700;
}

.btn-agregar{
    background:var(--azul);
    color:white;
    width:100%;
}

.sucursal-card{
    background:white;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
}

.sucursal-card img{
    width:100%;
    height:180px;
    object-fit:cover;
}

.enlace-llamada {
    color: #000;
    text-decoration: none;
}

.enlace-llamada:hover {
    color: #f31668;
    text-decoration: none;
}

.btn-como-llegar {
    color: #f31668;
    border-color: #f31668;
    border-radius: 12px;
    font-size: .9rem;
    font-weight: 600;
}

.btn-como-llegar:hover {
    color: #ffffff;
    background-color: #f31668;
}

.btn-wsp {
    color: #ffffff;
    background-color: #25D366;
    border-radius: 12px;
    font-size: .9rem;
    font-weight: 600;
}

.btn-wsp:hover {
    color: #ffffff;
    background-color: #f31668;
}

.whatsapp-section{
    background:linear-gradient(135deg,#03153d,#081d53);
    color:#ffffff;
}

.whatsapp-section span {
    color:#f31668;
}

.btn-whatsapp-big{
    display:inline-block;
    background:#25D366;
    color:#ffffff;
    text-decoration:none;
    padding:15px 30px;
    border-radius:12px;
    font-size:1.4rem;
    font-weight:700;
}

.btn-whatsapp-big:hover {
    color: #ffffff;
    background-color: #f31668;
}

.pasos div{
    margin:20px 0;
}

.pasos i {
    color:#f31668;
}

.pasos-enlace {
    color: #ffffff;
    text-decoration: none;
}

.pasos-enlace:hover {
    color: #f31668;
    text-decoration: none;
}

footer{
    background:#041238;
    color:white;
    padding:60px 0;
}

.footer-logo{
    max-width:180px;
}

.sociales i{
    font-size:1.8rem;
    margin-right:15px;
}

.btn-carrito{
    background:none;
    border:none;
    color:white;
    font-size:1.5rem;
}

#contadorCarrito{
    position:absolute;
    top:-8px;
    right:-10px;
    width:22px;
    height:22px;
    background:var(--rosa);
    border-radius:50%;
    font-size:.8rem;
    display:flex;
    justify-content:center;
    align-items:center;
}

.fade-up{
    animation:fadeUp .8s ease;
}

@keyframes fadeUp{
    from{
        opacity:0;
        transform:translateY(30px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

@media (max-width:768px){

    .beneficio-card{
        padding:10px;
        gap:8px;
        flex-direction:column;
        text-align:center;
    }

    .beneficio-card i{
        font-size:1.3rem;
    }

    .beneficio-card h5{
        font-size:.75rem;
        margin-bottom:2px;
    }

    .beneficio-card p{
        font-size:.65rem;
        margin:0;
    }

}
