:root{
    --azul:#081d53;
    --rosa:#f31668;
    --gris:#ffffff;
}

body{
    font-family:'Poppins',sans-serif;
    padding-top:80px;
    background:#f8f9fb;
    font-size:14px;
    color: #000;
}

h1,h2,h3,h4,h5{
    font-family:'Montserrat',sans-serif;
    font-weight:700;
}

.navbar-bp{
    background:var(--azul);
    box-shadow:0 3px 20px rgba(243,22,104,.08);
}

.navbar-brand img{
    height:55px;
}

.nav-link{
    color:#ffffff !important;
    position:relative;
    font-weight:700;
    transition:.3s;
}

.nav-link:hover {
    color:#f31668 !important;
    font-weight:700;
}

.nav-link::after{
    content:"";
    position:absolute;
    left:50%;
    bottom:0;
    width:0;
    height:3px;
    background:#f31668;
    border-radius:10px;
    transform:translateX(-50%);
    transition:.3s ease;
}

.nav-link:hover::after{
    width:100%;
}

.btn-tienda {
    background: #f31668;
    color:#ffffff;
    border-radius: 25px 75px 25px 75px;
    padding:.7rem 1rem;
    text-decoration:none;
    font-weight:600;
}

.btn-tienda:hover {
    background: #ffffff;
    color: #f31668;
    border-radius: 75px 25px 75px 25px;
}

.hero img{
    width:100%;
    display:block;
}

.beneficios{
    position:relative;
    z-index:5;
}

.beneficio-card{
    background:white;
    border-radius: 75px 25px 75px 25px;
    padding:20px;
    display:flex;
    gap:15px;
    align-items:center;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:.3s;
    width:100%;
    height:100%;
}

.beneficio-card i{
    font-size:2rem;
    color:var(--rosa);
}

.titulo-seccion{
    margin-bottom:30px;
}

.titulo-seccion span{
    color:var(--rosa);
}

.producto-card{
    background:white;
    border-radius: 75px 25px 75px 25px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
    transition:.3s;
    height:100%;
}

.producto-card img{
    height:220px;
    width:100%;
    object-fit:contain;
    padding:15px;
}

.ver-productos{
    color: #f31668;
}

.ver-productos:hover {
    color: #ffffff;
    background-color: #f31668;
    border-radius: 75px 25px 75px 25px;
}

.ver-productos i {
    font-size:2rem;
}

.descuento {
    background-color: #081d53;
    border-radius: 25px 75px 25px 75px;
}

.precio{
    color:var(--rosa);
    font-size:1.5rem;
    font-weight:700;
}

.btn-agregar{
    background:var(--azul);
    color:white;
    width:100%;
}

.fb-page, .fb-page span, .fb-page iframe{
    width:100% !important;
    max-width:100% !important;
    height:310px !important;
}

.row-contacto{
    align-items:stretch;
}

.red-social{
    display:flex;
    align-items:center;
    gap:15px;
    padding:15px 20px;
    margin-bottom:15px;
    border-radius: 25px 75px 25px 75px;
    text-decoration:none;
    color:#fff;
    font-weight:600;
    transition:.3s;
}

.red-social:hover{
    color:#fff;
    border-radius: 75px 25px 75px 25px;
}

.red-social i{
    font-size:1.3rem;
}

.facebook{
    background:#1877F2;
}

.instagram{
    background:linear-gradient(45deg,#833AB4,#E1306C,#FCAF45);
}

.tiktok{
    background:#000;
}

.whatsapp{
    background:#25D366;
}

.sucursal-card{
    background:white;
    border-radius: 75px 25px 25px 25px;
    overflow:hidden;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
}

.sucursal-card .p-3{
    display:flex;
    flex-direction:column;
    flex:1;
}

.sucursal-card img{
    width:100%;
    height:180px;
    object-fit:cover;
    border-radius: 75px 25px 0px 0px;
}

.enlace-llamada {
    color: #000;
    text-decoration: none;
}

.enlace-llamada:hover {
    color: #f31668;
    text-decoration: none;
}

.suc-botones {
     margin-top:auto;
}

.btn-como-llegar {
    color: #f31668;
    border:1px solid #f31668;
    border-radius: 25px 75px 25px 75px;
    font-size: .9rem;
    font-weight: 600;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    padding:.3rem 1rem;
}

.btn-wsp {
    color: #ffffff;
    background-color: #25D366;
    border-radius: 25px 75px 25px 75px;
    font-size: .9rem;
    font-weight: 600;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    padding:.3rem 1rem;
}

.btn-como-llegar:hover, .btn-wsp:hover {
    color: #ffffff;
    background-color: #f31668;
    border-radius: 75px 25px 75px 25px;
}

.whatsapp-section{
    background:linear-gradient(135deg,#03153d,#081d53);
    color:#ffffff;
}

.whatsapp-section span {
    color:#f31668;
}

.btn-whatsapp-big{
    display:inline-block;
    background:#25D366;
    color:#ffffff;
    text-decoration:none;
    padding:15px 30px;
    border-radius: 25px 75px 25px 75px;
    font-size:1.4rem;
    font-weight:700;
}

.btn-whatsapp-big:hover {
    color: #ffffff;
    background-color: #f31668;
    border-radius: 75px 25px 75px 25px;
}

.pasos div{
    margin:20px 0;
}

.pasos i {
    color:#f31668;
}

.pasos-enlace {
    color: #ffffff;
    text-decoration: none;
}

.pasos-enlace:hover {
    color: #f31668;
    text-decoration: none;
}

footer{
    background:var(--azul);
    color:white;
    padding:auto;
    font-size:14px;
}

.footer-logo{
    max-width:180px;
}

.footer-span {
    color: #f31668;
}

footer ul{
    list-style:none;
    padding-left:0;
    margin:0;
}

.footer-link {
    color: #ffffff;
    text-decoration: none;
    font-size:14px;
}

.footer-link:hover {
    color: #f31668;
}

.sociales i{
    font-size:1.8rem;
    margin-right:15px;
    color: #ffffff;
}

.sociales i:hover {
    color: #f31668;
}

.btn-carrito{
    background:none;
    border:none;
    color:white;
    font-size:1.5rem;
}

#contadorCarrito{
    position:absolute;
    top:-8px;
    right:-10px;
    width:22px;
    height:22px;
    background:var(--rosa);
    border-radius:50%;
    font-size:.8rem;
    display:flex;
    justify-content:center;
    align-items:center;
}

.fade-up{
    animation:fadeUp .8s ease;
}

@keyframes fadeUp{
    from{
        opacity:0;
        transform:translateY(30px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

@media (max-width:768px) {

    .beneficio-card{
        padding:10px;
        gap:8px;
        flex-direction:column;
        text-align:center;
        border-radius: 18px;
    }

    .beneficio-card i{
        font-size:1.3rem;
    }

    .beneficio-card h5{
        font-size:.75rem;
        margin-bottom:2px;
    }

    .beneficio-card p{
        font-size:.65rem;
        margin:0;
    }
    
    .sucursal-card img{
        height:120px;
    }

    .sucursal-card .p-3{
        padding:12px !important;
    }

    .sucursal-card h5{
        font-size:.95rem;
    }

    .sucursal-card p{
        font-size:.75rem;
        margin-bottom:.6rem;
    }

    .suc-botones{
        margin-top:auto;
    }

    .btn-como-llegar,
    .btn-wsp{
        font-size:.75rem;
        padding:.45rem .5rem;
        border-radius: 25px 75px 25px 75px;
    }

}
